@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Bebas Neue";
  src: url("/public/fonts/bebas-neue-regular.woff");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-color: #080808;
  margin: 0;
  font-family:'Poppins', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-bebas {
  font-family: 'Bebas Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
  .center {
    @apply tw-flex tw-items-center tw-justify-center;
  }
}